@{
    ViewBag.Title = "Fibonacci";
    var seq = ViewBag.Sequence;
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<form method="post">
    <fieldset>
        <p>
            <label for="length">Length:</label>
            <input type="text" name="length" value="@Request.Form["length"]" />
        </p>
        <text>
            You entered:@Request.Form["length"] <br />
            Sequence: @seq <br />
        </text>
    </fieldset>
</form>


